<div class="carousel-container carousel slide" id="carouselExampleControls" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-9">
          <h6>Observability</h6>
          <h3>With turn-key integrations, Datadog seamlessly aggregates metrics
                and events across the full devops stack
          </h3>
        </div>
      <div class="col-3">
        <div class="arrow"></div>
      </div>
    </div>
    <a href="/">Read More<div class="underline"></div></a>
    <div class="home-observability"></div>
      <div class="observability md-image">
        {{ range where .Site.Pages "Params.image" "observability" }}
            {{ .Content }}
        {{ end }}
      </div>
      <div class="home-dashboards"></div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-9">
          <h6>Observability</h6>
          <h3>With turn-key integrations, Datadog seamlessly aggregates metrics
                and events across the full devops stack
          </h3>
        </div>
      <div class="col-3">
        <div class="arrow"></div>
      </div>
    </div>
    <a href="/">Read More<div class="underline"></div></a>
    <div class="home-observability"></div>
      <div class="observability md-image">
        {{ range where .Site.Pages "Params.image" "observability" }}
            {{ .Content }}
        {{ end }}
      </div>
      <div class="home-dashboards"></div>
    </div>
  </div>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

