<div class="customers col-6">
  <div class="customers-grid row lhs-grid">
    <div class="customer-block col-md-4" id="air-bnb">
          {{ range where .Site.Pages "Params.image" "air-bnb-logo" }}
              {{ .Content }}
          {{ end }}
    </div>
    <div class="customers-copy col-md-8">
      <div class="adroll-logo md-image">
          {{ range where .Site.Pages "Params.image" "adroll-logo" }}
              {{ .Content }}
          {{ end }}
      </div>
      <p>“Datadog has been instrumental in managing our real-time infrastructure,
        globally distributed in 5 data centers across hundreds of instances,
        and thousands of different metrics and dimensions for each host. I can't
        believe there was a time when we didn't have Datadog.”
      </p>
      <p>Valentino Volonghi</p>
      <p>Chief Technology Officer</p>
      <a href="/">See More Stories</a>
    </div>
    <div class="customer-block col-md-4" id="peloton">
          {{ range where .Site.Pages "Params.image" "peloton-logo" }}
              {{ .Content }}
          {{ end }}
    </div>
  </div>
  <div class="customers-grid row bottom-six">
    <div class="customer-block col-md-4" id="evernote">
          {{ range where .Site.Pages "Params.image" "evernote-logo" }}
              {{ .Content }}
          {{ end }}
    </div>
    <div class="customer-block col-md-4" id="samsung">
          {{ range where .Site.Pages "Params.image" "samsung-logo" }}
              {{ .Content }}
          {{ end }}
    </div>
    <div class="customer-block col-md-4" id="nginx">
          {{ range where .Site.Pages "Params.image" "nginx-logo" }}
              {{ .Content }}
          {{ end }}
    </div>
    <div class="customer-block col-md-4" id="paperduty">
          {{ range where .Site.Pages "Params.image" "paperduty-logo" }}
              {{ .Content }}
          {{ end }}
    </div>
    <div class="customer-block col-md-4" id="whole-foods">
          {{ range where .Site.Pages "Params.image" "whole-foods-logo" }}
              {{ .Content }}
          {{ end }}
    </div>
    <div class="customer-block col-md-4" id="att">
          {{ range where .Site.Pages "Params.image" "att-logo" }}
              {{ .Content }}
          {{ end }}
    </div>
  </div>
</div>
