<div class="customers col-6">
  <div class="customers-grid lhs-grid">
    <div class="customer-block" id="air-bnb"></div>
    <div class="customer-block" id="peloton"></div>
  </div>
  <div class="customers-copy">
    <div class="adroll-logo"/>
    <p>“Datadog has been instrumental in managing our real-time infrastructure,
        globally distributed in 5 data centers across hundreds of instances,
        and thousands of different metrics and dimensions for each host. I can't
        believe there was a time when we didn't have Datadog.”
    </p>
    <p>Valentino Volonghi</p>
    <p>Chief Technology Officer</p>
    <a>See More Stories</a>
  </div>
  <div class="customers-grid">
    <div class="customer-block" id="evernote"></div>
    <div class="customer-block" id="paperduty"></div>
    <div class="customer-block" id="samsung"></div>
    <div class="customer-block" id="whole-foods"></div>
    <div class="customer-block" id="nginx"></div>
    <div class="customer-block" id="att"></div>
  </div>
</div>
