
  <div class="feature row">
    <div class="feature-apm col-6">
      <h6>APM</h6>
      <h3>Get full visibility into modern applications</h3>
    </div>
    <div class="feature-logs col-6">
      <h6>LOGS Management</h6>
      <h3>Analyze and explore log data in context</h3>
    </div>
  </div>
  <div class="feature row">
    <div class="feature-infra col-6">
      <h6>Infrastructre</h6>
      <h3>See across systems, apps, and services</h3>
    </div>
    <div class="carousel col-6">
      <h6>Observability</h6>
      <h3>With turn-key integrations, Datadog seamlessly aggregates metrics
          and events across the full devops stack
      </h3>
      <div class="arrow"></div>
      <a>Read More</a>
      <div class="home-observability"></div>
      <div class="home-dashboards"></div>
    </div>
  </div>

