
  <div class="feature row">
    <div class="col-6">
      <div class="feature-block feature-apm">
        <h6 class="feature-text">APM</h6>
        <h3 class="feature-text">Get full visibility into modern applications</h3>
      </div>
    </div>
    <div class="col-6">
      <div class="feature-block feature-infra">
        <h6 class="feature-text">Infrastructre</h6>
        <h3 class="feature-text">See across systems, apps, and services</h3>
      </div>
    </div>
  </div>
  <div class="feature row">
    <div class="col-6">
      <div class="feature-block feature-logs">
        <h6 class="feature-text">LOGS Management</h6>
        <h3 class="feature-text">Analyze and explore log data in context</h3>
      </div>
    </div>
    <div class="col-6">
      {{ partial "carousel" . }}
    </div>
  </div>

