<div class="pricing col-sm-8">
  <div class="row">
    <div class="pricing-infra col-md-4">
      <h6>INFRASTRUCTURE</h6>
      <p>Starting at</p>
      <h1>$15</h1>
      <p>Per host, per month*</p>
      <p>Centralize your monitoring of systems and services</p>
      <ul>
        <li>– 250+ integrations</li>
        <li>– Out-of-the-box dashboards</li>
        <li>– 15-month metric retention</li>
      </ul>
      <a href="/">See Details<div class="underline"></div></a>
      <div class="pricing-divider"></div>
    </div>
    <div class="pricing-apm col-md-4">
      <h6>APM</h6>
      <p>Starting at</p>
      <h1>$31</h1>
      <p>Per host, per month*</p>
      <p>Centralize your monitoring of systems and services</p>
      <ul>
        <li>– Java, Ruby, Python, Go, Node, and more</li>
        <li>– Out-of-the-box application health dashboards</li>
        <li>– 1 million trace events per host included</li>
      </ul>
      <a href="/">See Details<div class="underline"></div></a>
      <div class="pricing-divider"></div>
    </div>
    <div class="pricing-logs col-md-4">
      <h6>LOGS MANAGEMENT</h6>
      <p>Starting at</p>
      <h1>$1.27</h1>
      <p>Per host, per month*</p>
      <p>Analyze and explore log data in context</p>
      <ul>
        <li>– Collect from any source</li>
        <li>– Automated & custom processing</li>
        <li>– Fully integrated with Infrastructure and APM</li>
      </ul>
      <a href="/">See Details<div class="underline"></div></a>
    </div>
  </div>
</div>
