
  <div class="nav flex-column">
    <div class="datadog-logo md-image">
      {{ range where .Site.Pages "Params.image" "datadog-logo" }}
          {{ .Content }}
      {{ end }}
    </div>
    <div class="sidebar-navigation">
      {{ range (where .Site.Pages "Params.sidebar" true).ByDate }}
          <div class="link-containers">
            <a class="nav-link" href="/">
              {{ .Title }}
              <div class="underline"></div>
            </a>
          </div>
      {{ end }}
    </div>
    <div class="nav-link">
      <a class="login" href="/">Login <div class="underline"></div></a>
    </div>
  </div>

